@use "../../../styles/pxToRem.scss" as pxToRem;
@use "../../../styles/breakpoints.scss" as breakpoints;
@use "../../generated/colors.generated.variables.scss" as colors;

.chooseThemeTrigger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: pxToRem.pxToRem(32);
  height: pxToRem.pxToRem(32);
  background: colors.$color-background-surface-primary;
  border: solid pxToRem.pxToRem(1) colors.$color-border-primary;
  border-radius: pxToRem.pxToRem(8);
  color: colors.$color-text-primary;

  &_indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &_icon {
    width: pxToRem.pxToRem(18);
    height: pxToRem.pxToRem(18);
  }
}

.chooseThemeContent {
  width: pxToRem.pxToRem(32);
  background: colors.$color-background-surface-primary;
  border: solid pxToRem.pxToRem(1) colors.$color-border-primary;
  border-radius: pxToRem.pxToRem(8);
  overflow: clip;

  &_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: pxToRem.pxToRem(4) pxToRem.pxToRem(8);

    &:hover {
      background: colors.$color-background-surface-tertiary;
      cursor: pointer;
    }

    &:focus,
    &[data-highlighted] {
      & .chooseThemeContent_icon {
        color: colors.$color-text-accent;
        stroke-width: pxToRem.pxToRem(2);
      }
    }
  }

  &_icon {
    width: pxToRem.pxToRem(18);
    height: pxToRem.pxToRem(18);
  }
}
