@use "../../styles/pxToRem.scss" as pxToRem;
@use "../../styles/breakpoints.scss" as breakpoints;
@use "../../theme/generated/colors.generated.variables.scss" as colors;

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: pxToRem.pxToRem(32);
  width: 100%;

  &_logoLink {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: pxToRem.pxToRem(8);
  }

  &_logoText {
    &Suffix {
      color: colors.$color-text-accent;
    }
  }

  &_logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: pxToRem.pxToRem(36);
    height: pxToRem.pxToRem(36);
    background: colors.$color-text-secondary;
    border-radius: 50%;
  }

  &_logoImage {
    &[data-theme="light"] {
      filter: invert(1);
    }
  }

  &_actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: pxToRem.pxToRem(8);
    list-style: none;

    &_item {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &_actionsItem {
    &:empty {
      display: none;
    }
  }
}
